{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YuKi's Portfoli</title>
    <link rel="stylesheet" href="{% static 'resetstyle.css' %}">
    <link rel="stylesheet" href="{% static 'styleindex.css' %}">
</head>

<body>
    <header>
        <a href="#TOP"><img src="{% static 'media/top/logos.svg' %}" alt="LOGO"> </a>
    </header>
    <main>
        <div class="firstview">
            <div class="bigimg">
                <img src="{% static 'media/top/Video.png' %}" alt="左一面（モバイル版では全画面）">
            </div>
            <div class="bigfont">
                <h1>　YuKi's Portfolio</h1>
                <a class="btn1" href="#port"><span>　　View　　</span></a>
            </div>
        </div>
        <div class="portfolio" id="port">
            <h2 class="port-h2">制作作品サンプル</h2>
            <div class="port-content">
                <div class="port-cont">
                    <img class="port-img" src="{% static 'media/top/takamatsu.png' %}" alt="高松城の作品例">
                    <div class="port-text">
                        <h2>高松城</h2>
                        <p>とあるお城を自分でリニューアルすると仮定し、２通りのデザインを考え作成してみました。(レスポンシブ対応)
                            <br>※ネット環境に繋がれていない場合正しく表示されません。
                        </p>
                        <div class="port-btn">
                            <a href="http://oyabin.html.xdomain.jp/" class="btn1 btnview"><span>　　View1　　</span></a>
                            <a href="http://middle.html.xdomain.jp/" class="btn1"><span>　　View2　　</span></a>
                        </div>
                    </div>
                </div>
                <div class="port-cont">
                    <img class="port-img" src="{% static 'media/top/todo.png' %}" alt="TODOリストの作品例">
                    <div class="port-text">
                        <h2>TODOLIST</h2>
                        <p>Djangoを使いサンプル作品として、
                            制作しました。
                            ログイン機能や投稿機能など実装しています。
                            実装の仕方などを確認できました。（レスポンシブ半分対応)
                            ユーザを適当に作成してログインしてみてください
                        </p>
                        <div class="port-btn">
                            <a href="{% url 'login' %}" class="btn1"><span>　　View　　</span></a>
                        </div>
                    </div>
                </div>
                <div class="port-cont">
                    <img class="port-img" src="{% static 'media/top/espo.png' %}" alt="ESPORTSの画像">
                    <div class="port-text">
                        <h2>ESPORTS SITE</h2>
                        <p>仮想のチームをイメージし、
                            サンプル作品として、制作しました。
                        </p>
                        <div class="port-btn">
                            <a href="{% url 'espo' %}" class="btn1"><span>　　View　　</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <h2 class="port-h2">My Profile</h2>
            <div class="pro-content portfolio">
                <div class="pro-cont">
                    <img class="pro-img" src="{% static 'media/top/rits.png' %}" alt="立命館大学">
                    <div class="pro-text">
                        <h3>立命館大学入学</h3>
                        <p>立命館大学経済学部に入学。
                            とある研究会のキャンパス会長を務めていました。
                            また、その研究会で、研究していたブロックチェーンの技術に着目し、仮想通貨で手元の資金を１０倍にすることに。。。
                            そこから改めて経済の面白さを実感し、国際経済学を専門に学んで行きました。</p>
                    </div>
                </div>
                <div class="pro-cont">
                    <img class="pro-img" src="{% static 'media/top/mens.png' %}" alt="mensの画像">
                    <div class="pro-text">
                        <h3>新卒後地方銀行入社</h3>
                        <p>立命館大学経済学部に入学。
                            立命館大学を卒業後、地元の地方銀行に入行。
                            営業という仕事の面白さを感じるとともに、他人を審査する上で、当行の決算を見るとその悪化具合に危機感を覚えた。
                            また、株式総会の決意文では、fintechを取り入れるなどと言っていたが、いまだにword98使っていたり、スマートフォンではなくガラケーを使い、イノベーションへの会社の姿勢に違和感を感じ、転職を決意。
                        </p>
                    </div>
                </div>
                <div class="pro-cont">
                    <img class="pro-img" src="{% static 'media/top/neets.png' %}" alt="neetの画像">
                    <div class="pro-text">
                        <h3>1年の放浪</h3>
                        <p>改めて自分が何をしたいのかを考えるためにも、コロナ禍という制限はあったが、プログラミングから全国旅行まで、様々なことにチャレンジしてきました。
                            ゲーム作り、web制作、統計学、機械学習など、自分がやりたいと思ったことに対しまずはチャレンジという姿勢でチャレンジしてきました。
                            それぞれの分野の仕事をしてみたいと思うと同時に、未経験での採用が少なく、学ぶ為に半年間、職業訓練校へ入校することにしました。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill">
            <h2 class="port-h2">SKILL</h2>
            <div class="skills portfolio">
                <div class="ski-cont">
                    <h3 class="skillsh3">Python</h3>
                    <img class="ski-img" src="{% static 'media/top/python.png' %}" alt="pythonLOGO">
                    <p>最初に始めた言語です。
                        WEB開発から機械学習など様々な分野で使うことができるので最初にやるにはいいと思い学習開始。
                        現在はDjangoを使っています。
                        機械学習にも興味あり。
                    </p>
                </div>
                <div class="ski-cont">
                    <h3 class="skillsh3">Javascripts</h3>
                    <img class="ski-img" src="{% static 'media/top/javascript.png' %}" alt="JavascriptsLOGO">
                    <p>WEB系企業に就職する上で欠かせない言語と聞き、学習開始。まだ、一からプラグインを書くのは難しいですが、queryなどをアレンジするなら可能。
                    </p>
                </div>
                <div class="ski-cont">
                    <h3 class="skillsh3">Html&Css</h3>
                    <img class="ski-img" src="{% static 'media/top/css.png' %}" alt="HTMLLOGO">
                    <p>正確にはマークアップ言語ですが。基本となるHTML＆CSSはかけます
                        Djangoで使うために、このサイトはjinja2という形式で使っています。
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>COPYRIGHT © 2021 keisuke Inazawa’s. All RIGHTS RESERVED.</footer>
</body>

</html>
